/.idea/
/vendor/
/node_modules/
/var/cache/*
!/var/cache/.gitkeep
/var/logs/*
!/var/logs/.gitkeep
/var/graph.json
/var/prototype-graph.json
/public/build/
.phpunit.result.cache
.env.local
.env.*.local
repomix-output.txt
